body {
    font-family: 'Roboto', sans-serif;
    background-color: #e2dbd5;
    margin: 0;
}


header {
    font-family: 'Pacifico', cursiva;
    text-align:center;
    background-color: #53745a;
    color:white;
    padding:0.5rem;
}

ul {
    font-style: oblique;
    color: #e08eb4;
}


h1 {
    font-style: unset;
    text-align: center;
    text-decoration: wavy;
}

img {
    max-width: 40%;
    height: auto;
    margin:1rem;
}

h2 {
    font-style: unset;
    text-align: center;
    
}

h3 {
    text-decoration: underline;
    text-decoration-color: #53745a;
}

footer {
    text-align: center;
    background-color: #53745a;
    color: white;
    padding: 1rem;
}


/*Selectores de clase*/
.cita {
    font-style: italic;
    color:#888;
    margin: 1rem;
}
.imagen-container {
    text-align: center;
}


/*Selectores de Id*/
#contenido {
    background-color: #f0f0f0;
    padding: 2rem;
    max-width: 800px;
    margin: 0 auto;
}
a{
    color: #d85782;
    font-size: 20px;
    text-decoration: none;
}
