body {
    font-family: 'Roboto', sans-serif;
    background-color: #e2dbd5;
    margin: 0.5;
}


header {
    font-family: 'Pacifico', cursiva;
    text-align:center;
    background-color: #53745a;
    color:white;
    padding:0.5rem;
}

h3 {
    font-style: unset;
    text-align: center;
    text-decoration: wavy;
    font-size: x-large;
}

img {
    max-width: 30%;
    height: auto;
    margin:1rem;
}
.cita {
    font-style: italic;
    color:#888;
    margin: 1rem;
}

footer {
    text-align: center;
    background-color: #53745a;
    color: white;
    padding: 1rem;
}
 
/*Selectores de Id*/
#contenido {
    background-color: #f0f0f0;
    padding: 2rem;
    max-width: 800px;
    margin: 0 auto;
}
a{
    color: white;
    font-size: 20px;
    text-decoration: none;
}
